{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "modules": true,
    "spread": true,
    "restParams": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-undef": 2,
    "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "no-console": "off",
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/resolver": 0
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "sourceType": "module"
  }
}